DATABASE_URL=
JWT_SECRET=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_ACCESS_API=
OAUTH_GET_USER=
FAUCET_PRIVATE_KEY=
FAUCET_ZEROG_PRIVATE_KEY=
RPC_MONAD_DEVNET=
RPC_ZERO_TESTNET=
RPC_CAMP_TESTNET=
RPC_NEXUS_TESTNET=
ALLOWED_ORIGINS=

NEXT_PUBLIC_OAUTH=
NEXT_PUBLIC_MONAD_EXPLORER=
NEXT_PUBLIC_0G_EXPLORER=
NEXT_PUBLIC_CAMP_EXPLORER=
NEXT_PUBLIC_NEXUS_EXPLORER=
