.container {
    background-color: rgba(25, 27, 31, 0.9);
    padding: 14px;
    border-radius: 20px;
    width: 100%;
    min-height: 100%; 
    /* position: relative;
    padding-bottom: 50px; */
}

.content {
    /* overflow: auto; */
    /* padding-bottom: 50px;
    min-height: 100px; */
}

.cardTitle {
    margin-bottom: 10px !important;
    color: #836EF9 !important;
}

.cardDescription {
    margin-bottom: 20px !important;
    color: #836EF9 !important;
}

.label {
    color: white;
}


.modalNote {
    font-size: 17px;
    color: #1a1a1a;
}

.note {
    font-size: 15px;
    margin-top: 10px;
    color: white;
}


.walletIcon {
    margin-right: 5px;
}

.addressInput {
    margin-bottom: 20px;
}

.submitButton {
    height: 50px;
    background-color: #836EF9 !important;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    color: #fff;
}


.claimLimit {
    color: #836EF9;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
}


.gitContent {
    flex-grow: 1;
}

.iconContainer {
    display: flex;
    /* justify-content: flex-start; */
    gap: 10px;
    margin-top: 10px;
}

.iconLink {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #1a1a1a;
}

.iconGithub {
    margin-right: 10px;
    /* background-color: #3c3b3b !important; */
    /* width: 50px;
    height: 50px; */
    /* border-radius: 60%; */
}

/* .iconGithub:hover {
    background-color: #fff !important;
} */

.WarnGit {
    color: yellow !important;
    margin-right: 5px;
}

.contact {
    color: #fff;
    flex-grow: 1;
    margin: 0;
    line-height: 2;
}


.gitRank {
    color: #836EF9 !important;
    font-weight: bold;
}

.wechat {
    cursor: pointer;
}

.clickImage {
    position: fixed;
    top: 68%;
    left: 81%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.toExplorer {
    color: #836EF9 !important;
    font-weight: bold;
}

.toOpenBuild {
    color: #01DB83 !important;
    font-weight: bold;
}

.wechatContainer:hover .clickImage {
    opacity: 1;
    visibility: visible;
}