.container {
    bottom: 6%;
    left: 6%;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    /* position: absolute; */
}


.iconContainer {
    display:  flex;
    gap: 10px;
}


.follow {
    margin-top: 10px;
    color: #fff !important;
}

.iconLink {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #535258;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.iconLink:hover {
    background-color: #6A6973;
}


.icon {
    color: #fff;
    display: flex;
}


.iconWechat {
    color: #fff;
    display: flex;
}

